---
# Server options
host: localhost
port: 3333

# Database options
database:
  host: 
  port: 
  user: 
  password: 
  dbname: 

# Authentication options
oauth:
  tenant_id: 
  client_id: 
  client_secret: 
